@model BlogProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}



<div id="containershow">
    <nav style="display: flex; justify-content: space-between; margin-top: 50px; margin-bottom: 20px;">
        <a class="navlink" href="/Teacher/List">Back to Teachers</a>

        <a class="dellink" style="color: red;" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
    </nav>
</div>

@Model.TeacherFname @Model.TeacherLname

@Model.EmployeeNumber

@Model.HireDate

@Model.Salary



